<div class="flex flex-row">
<div class="w-4/5 h-screen bg-[#262525] overflow-hidden" id="playground">
  <div class="w-[5000px] h-[5000px] relative" id="container">
    <div class="absolute w-32 h-24 left-[360px] top-[120px] bg-blue-200 border border-dashed border-gray-200 border-4 rounded-lg overflow-hidden" id="box1"></div>
    <div class="absolute w-32 h-24 top-[200px] left-[120px] bg-blue-200 border border-dashed border-gray-200 border-4 rounded-lg overflow-hidden" id="box2"></div>

  </div>
</div>
<div class="w-1/5 h-screen bg-[#303030] border-l border-white">
  <div class="w-32 h-24 top-24 bg-blue-200 border border-dashed border-gray-200 border-4 rounded-lg overflow-hidden mt-12 mx-auto cursor-grab active:cursor-grabbing" id="demobox">d</div>

</div>
</div>